---
import { useTranslations } from "../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<footer>
  <div class="bg-primary text-white">
    <div class="grid md:grid-cols-3 gap-2 md:gap-4 md:place-content-center">
      <a>{t("footer.contact")}</a>
      <a>{t("footer.news")}</a>
      <a>{t("footer.pm")}</a>
      <a>{t("footer.dept")}</a>
      <a>{t("footer.treaty")}</a>
      <a>{t("footer.about")}</a>
      <a>{t("footer.ps")}</a>
      <a>{t("footer.reporting")}</a>
      <a>{t("footer.open-gov")}</a>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <ul
      class="flex flex-col md:flex-row gap-2 text-sm text-primary md:list-disc list-inside"
    >
      <li class="list-none">
        <a href={t("footer.toc-link")}>
          {t("footer.terms-and-conditions")}
        </a>
      </li>
      <li>
        <a href={t("footer.privacy-link")}>{t("footer.privacy")}</a>
      </li>
    </ul>
    <img
      class="h-10"
      src="/wmms-blk.svg"
      alt="Symbol of the Government of Canada"
    />
  </div>
</footer>
