---
import { useTranslations } from "../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<footer id="pageFooter">
  <div class="bg-primary text-white px-2 py-5">
    <div class="max-w-7xl mx-auto">
      <nav>
        <h2 class="text-[20px] mb-4">{t("footer.goc")}</h2>
        <ul
          class="grid md:grid-cols-3 gap-2 md:gap-4 md:place-content-center mb-10 text-sm"
        >
          <li><a href={t("footer.contact.href")}>{t("footer.contact")}</a></li>
          <li>
            <a href={t("footer.dept.href")}>{t("footer.dept")}</a>
          </li>
          <li><a href={t("footer.about.href")}>{t("footer.about")}</a></li>
        </ul>

        <h3 class="relative">
          <span class="sr-only">{t("footer.themes")}</span>
        </h3>

        <ul
          class="grid md:grid-cols-3 gap-2 md:gap-4 md:place-content-center text-sm"
        >
          <li><a href={t("footer.jobs.href")}>{t("footer.jobs")}</a></li>
          <li>
            <a href={t("footer.immigration.href")}>{t("footer.immigration")}</a>
          </li>
          <li><a href={t("footer.travel.href")}>{t("footer.travel")}</a></li>
          <li>
            <a href={t("footer.business.href")}>{t("footer.business")}</a>
          </li>
          <li>
            <a href={t("footer.benefits.href")}>{t("footer.benefits")}</a>
          </li>
          <li><a href={t("footer.health.href")}>{t("footer.health")}</a></li>
          <li><a href={t("footer.taxes.href")}>{t("footer.taxes")}</a></li>
          <li>
            <a href={t("footer.env.href")}>{t("footer.env")}</a>
          </li>
          <li>
            <a href={t("footer.security.href")}>{t("footer.security")}</a>
          </li>
          <li>
            <a href={t("footer.culture.href")}>{t("footer.culture")}</a>
          </li>
          <li>
            <a href={t("footer.policing.href")}>{t("footer.policing")}</a>
          </li>
          <li>
            <a href={t("footer.infra.href")}>{t("footer.infra")}</a>
          </li>
          <li>
            <a href={t("footer.world.href")}>{t("footer.world")}</a>
          </li>
          <li><a href={t("footer.money.href")}>{t("footer.money")}</a></li>
          <li>
            <a href={t("footer.science.href")}>{t("footer.science")}</a>
          </li>
          <li>
            <a href={t("footer.indigenous.href")}>{t("footer.indigenous")}</a>
          </li>
          <li>
            <a href={t("footer.veterans.href")}>{t("footer.veterans")}</a>
          </li>
          <li><a href={t("footer.youth.href")}>{t("footer.youth")}</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="px-2 py-5">
    <div class="flex justify-between items-center max-w-7xl mx-auto">
      <ul
        class="flex flex-col md:flex-row gap-2 text-sm text-primary md:list-disc list-inside"
      >
        <li class="list-none">
          <a href={t("footer.social.href")}>{t("footer.social")}</a>
        </li>
        <li>
          <a href={t("footer.mobile.href")}>{t("footer.mobile")}</a>
        </li>
        <li>
          <a href={t("footer.terms-and-conditions.href")}
            >{t("footer.terms-and-conditions")}</a
          >
        </li>
        <li><a href={t("footer.privacy.href")}>{t("footer.privacy")}</a></li>
      </ul>
      <img
        class="h-8 sm:h-10"
        src="/wmms-blk.svg"
        alt="Symbol of the Government of Canada"
      />
    </div>
  </div>
</footer>

<style>
  h3::before {
    border-bottom: 4px solid #fff;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: -1.5em;
    width: 2.25em;
  }
</style>
