---
import { useTranslations } from "../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);

// todo: create adapter for french/english filter mappings
function toggleUrl() {
  let url = new URL(Astro.url);
  url.pathname = lang === "en" ? "fr" : "en";
  return url;
}
---

<!-- test site banner -->
<div class="bg-primary text-white">
  <div class="max-w-7xl mx-auto py-5 px-2 flex gap-5 items-center">
    <div class="font-bold border-2 border-white py-2 px-4 whitespace-nowrap">
      {t("banner.test-site")}
    </div>
    <div>{t("banner.test-site-text")}</div>
  </div>
</div>

<header class="mt-5">
  <div class="max-w-7xl mx-auto px-2 py-5">
    <div class="flex justify-between items-center mb-5">
      <img
        src=`/goc-${lang}.svg`
        class="h-5 sm:h-8"
        alt="Government of Canada"
        property="logo"
      />
      <a href=`${toggleUrl()}` class="hidden sm:block underline text-primary visited:text-violet-700"
        >{lang === "en" ? "Français" : "English"}</a
      >
      <a href=`${toggleUrl()}` class="sm:hidden underline text-primary visited:text-violet-700"
        >{lang === "en" ? "FR" : "EN"}</a
      >
    </div>
    <div class="flex items-center gap-2 mt-10">
      <a href="https://alpha.service.canada.ca/" class="text-primary underline visited:text-violet-700"
        >{t("header.SCL")}</a
      >
      <svg
        class="w-2 mx-2"
        viewBox="0 0 320 512"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
        ></path></svg
      >
      <a href=`/${lang}` class="text-primary underline visited:text-violet-700">{t("title")}</a>
    </div>
  </div>
</header>
