---
import Card from "./Card.svelte";
const { item } = Astro.props;
const { Content } = await item.render();

const id = Math.floor(100000000000000000*Math.random())
---

<div>
  <Card client:load id={`a-${id}`}>
    <div class="py-4 space-y-2 prose max-w-none text-ellipsis">
      <div class="space-x-2">
        <span class="text-gray-500 text-sm">
          <span>{item.data.program}</span> | <span>{item.data.date}</span>
        </span>
        <span
          class={`${
            item.data.tag === "NEW" || item.data.tag === "NOUVEAU"
              ? "bg-[#498226]"
              : "bg-[#A86200]"
          } text-white px-2 py-0.5 font-semibold text-xs inline-block`}
        >
          {item.data.tag}
        </span>
      </div>
      <Content />
    </div>
  </Card>
</div>
