@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    font-family: lato;
}

details > summary {
  list-style: none;
}

details[open] {
  border: 1px solid #2572B4;
}


input[type=checkbox] {
  height: 30px;
  width: 30px;
}

@layer base {
    /* Font families */
    h1 {
      @apply font-display font-semibold text-4xl
    }
    h2 {
      @apply font-display font-semibold text-xl;
    }
    h3,
    h4,
    h5 {
      @apply font-display font-semibold;
    }
    h6 {
      @apply font-display;
    }
    p,
    li,
    button {
      @apply font-body text-lg;
    }

    footer a {
      @apply font-body text-sm
    }
  }