---
import Layout from "../../layouts/Layout.astro";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params;

const t = useTranslations(lang);
---

<Layout title={t("title")}>
  <main class="grow bg-gray-100 px-2 pt-10 pb-5">
    <div class="max-w-7xl mx-auto">
      <div class="flex">
        <div class="hidden sm:block pt-32 pr-6">
          <h2 class="font-semibold text-gray-600">Filter News by Benefit</h2>
          <form
            class="flex flex-col items-start gap-4"
            
          >
              <label
                class="flex gap-2 text-sm font-semibold text-gray-900"
              >
                <input
                  type="checkbox"
                />
                filter
              </label>
            <button class="font-semibold text-gray-600 outline outline-1 focus-visible:ring p-1 text-sm rounded-sm hover:text-gray-900">
              reset
            </button>
          </form>
        </div>

        <div class="grow">
          <h1 class="text-4xl font-[500] mb-6">Benefits News Updates</h1>
          <label class="sr-only">search news articles</label>
          <div class="flex mb-5">
            <input
              class="p-2 grow"
              type="text"
              placeholder="search by benefit name or source"
            />
            <button
              class="bg-primary text-white p-2 no-wrap hover:bg-white hover:text-primary"
              >Search Benefit</button
            >
          </div>

          <div class="bg-white divide-y px-2 md:px-10 py-5 space-y-4">
            <div class="py-4 space-y-2">
              <div class="space-x-2">
                <span class="text-gray-500 text-sm">
                  <span>program</span> | <span>{new Date().toString()}</span>
                </span>
                <span
                  class={`${
                    "NEW" === "NEW" ? "bg-green-500" : "bg-orange-500"
                  } text-white px-2 py-0.5 font-semibold text-xs inline-block`}
                  --
                >
                  tag
                </span>
              </div>
              <h2 class="text-2xl font-semibold">title</h2>
              <p>body</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
